@import "sections/_home-section";
@import "sections/_features";
@import "sections/_featured-categories";
@import "sections/_category-grid-banners";
@import "sections/_koleysiyon-grid";
@import "sections/_banner";
@import "sections/_landscape-tab-products";
@import "sections/_grid-products";
@import "sections/_brands";
@import "sections/_blogs";
@import "sections/_content-banner";
@import "sections/_info-icons";
@import "sections/_html-blog";
@import "sections/_faq";

.tab-content {
    .swiper {
        padding-bottom: 50px;
        margin-bottom: -50px;
        padding-top: 20px;
    }
}

@media screen and (max-width: 767px) {
    .tab-content {
        .swiper {
            padding-top: 10px;
        }
    }
}

