.badge {
    font-size: 12px;
    font-weight: var(--font-normal);
    display: inline-block;
    padding: 6px 10px;
    text-align: center;
    border-radius: 20px;
}

.badge-success {
    color: #06441f;
    background: #cfeee0;
}

.badge-danger {
    color: var(--color-red);
    background: #fdf0ed;
}

.badge-info {
    color: var(--color-info);
    background: #eef5fb;
}

.badge-warning {
    color: var(--color-yellow);
    background: #fcf6ec;
}
